footer.footer
  .footer__container
    .footer__top
      h3.footer__top-title Our Beloved Client
      .footer__top-content Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
    .footer__logotips
      picture.footer__logotips-picture.border-right 
        span.footer__logotips-img logo client 1
        //- img.footer__logotips-img(src="#" alt="logo clients 1")
      picture.footer__logotips-picture.border-right
        span.footer__logotips-img logo client 2 
        //- img.footer__logotips-img(src="#" alt="logo clients 2")
      picture.footer__logotips-picture.border-right
        span.footer__logotips-img logo client 3 
        //- img.footer__logotips-img(src="#" alt="logo clients 3")
      picture.footer__logotips-picture
        span.footer__logotips-img logo client 4
        //- img.footer__logotips-img(src="#" alt="logo clients 4")
      picture.footer__logotips-picture.extra-border
        span.footer__logotips-img logo client 5 
        //- img.footer__logotips-img(src="#" alt="logo clients 5")
      picture.footer__logotips-picture.extra-border
        span.footer__logotips-img logo client 6 
        //- img.footer__logotips-img(src="#" alt="logo clients 6")
      picture.footer__logotips-picture.extra-border
        span.footer__logotips-img logo client 7
        //- img.footer__logotips-img(src="#" alt="logo clients 7")
      button.footer__logotips-button(type="button" aria-label="Больше клиентов") More Client   
    .footer__section
      .footer__section-content 
        h4.footer__section-content-title Intersted to woek with our team?
        .footer__section-content-description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.  
      .footer__section-content-button(type="button" aria-label="Давай поговорим") Let's Talk 
    .footer__bottom
      ul.footer__bottom-contact
        li.footer__bottom-contact-block1
          a.footer__bottom-contact-link1(href="#0")
            img.footer__bottom-contact-img1(src=require("../../img/logo-bottom.svg") alt="logo-bottom")
          h6.footer__bottom-contact-title Afrianska
        li.footer__bottom-contact-block  
          a.footer__bottom-contact-link(href="#0")
            img.footer__bottom-contact-img(src=require("../../img/A..svg") alt="logo-bottom")
          span.footer__bottom-contact-item Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        li.footer__bottom-contact-block
          a.footer__bottom-contact-link(href="#0")
            img.footer__bottom-contact-img(src=require("../../img/T..svg") alt="logo-bottom")
          span.footer__bottom-contact-item +62-812-7313-4321
        li.footer__bottom-contact-block
          a.footer__bottom-contact-link(href="#0")
            img.footer__bottom-contact-img(src=require("../../img/E.svg") alt="logo-bottom")
          span.footer__bottom-contact-item hello.afrian@gmail.com  
      ul.footer__bottom-about
        li.footer__bottom-about-title About US
        li.footer__bottom-about-item About
        li.footer__bottom-about-item What We Do
        li.footer__bottom-about-item Project
        li.footer__bottom-about-item How It Work With Us
      ul.footer__bottom-follow
        li.footer__bottom-follow-title Follow US
        li.footer__bottom-follow-item Instagram
        li.footer__bottom-follow-item Facebook
        li.footer__bottom-follow-item LinkedIn
        li.footer__bottom-follow-item Youtube 
    a.footer__copyright
      p 2019 © Afrianska. All rights reserved.
