main.main
  .main__container
    h2.main__title(href="#0") What we do to help our client grow in digital era,
    article.main__content
      .main__article
        .main__articale-card
          picture.main__article-picture
            img.main__article-picture-img(src=require("../../img/article-img-1.svg") alt="article-img")
          .main__article-content
            h3.main__article-content-title Bring Technology To Your Comfrotable Home
            .main__article-content-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            .main__article-footer
              button.main__article-footer-block(type="button" aria-label="Изучить больше") Learn more
      .main__article
        .main__articale-card
          picture.main__article-picture
            img.main__article-picture-img(src=require("../../img/article-img-2.svg") alt="article-img")
          .main__article-content
            h3.main__article-content-title Build Your Digital Product That Suitable For Your Need
            .main__article-content-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            .main__article-footer
              button.main__article-footer-block(type="button" aria-label="Изучить больше") Learn more
      .main__article.extra-margin
        .main__articale-card
          picture.main__article-picture
            img.main__article-picture-img(src=require("../../img/article-img-3.svg") alt="article-img")
          .main__article-content
            h3.main__article-content-title Make Your business To Be Better Famous In Internet
            .main__article-content-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            .main__article-footer
              button.main__article-footer-block(type="button" aria-label="Изучить больше") Learn more

