/* primaryFont */
@font-face {
  src: local("Galien-Regular"), 
  url("../fonts/Galien-Regular.woff2") format("woff2"),
  url("../fonts/Galien-Regular.woff") format("woff"),
  url("../fonts/Galien-Regular.ttf") format("ttf");

  font-family: "Galien-Regular";
  font-display: swap;
}

/* secondaryFont */
@font-face {
  src: local("gilroy-regular"), 
  url("../fonts/gilroy-regular.woff2") format("woff2"),
  url("../fonts/gilroy-regular.woff") format("woff"),
  url("../fonts/gilroy-regular.ttf") format("ttf");

  font-family: "Gilroy-Regular";
  font-display: swap;
}

/* tertiaryFont */
@font-face {
  src: local("gilroy-semibold"), 
  url("../fonts/gilroy-semibold.woff2") format("woff2"),
  url("../fonts/gilroy-semibold.woff") format("woff"),
  url("../fonts/gilroy-semibold.ttf") format("ttf");

  font-family: "Gilroy-SemiBold";
  font-display: swap;
}

@font-face {
  src: local("gilroy-light"), 
  url("../fonts/gilroy-light.woff2") format("woff2"),
  url("../fonts/gilroy-light.woff") format("woff"),
  url("../fonts/gilroy-light.ttf") format("ttf");

  font-family: "Gilroy-Light";
  font-display: swap;
}
