.main {
  width: 100%;
  min-height: 1554px;
  
  &__container {
    box-sizing: border-box;
    width: 100%;
    max-width: $max-width;
    min-width: $min-width;
    margin: 0 auto;
    padding: 192px 131px 112px;
    position: relative;
  }

  &__title {
    max-width: 358px;
    font-family: $tertiaryFont;
    font-size: $size-title-h2;
    color: #316099;
    letter-spacing: 1.5px;
    line-height: 1.24;
    position: absolute;
    z-index: 1;  
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: end;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    height: 1250px;
  }

  &__article {
    max-width: 380px;
    min-height: 525px;
    border-radius: 10px;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    box-sizing: border-box;
    margin-bottom: 98px;
    padding: 236px 47px 46px;

      &-card {
        display: flex;
        flex-direction: column;
      }

      &-picture {
        position: relative;

        &-img {
          position: absolute;
          bottom: 52px;
          left: 22px;

          &.secondary-img {
            bottom: 57px;
            left: 39px;
          }

          &.tertiary-img {
            bottom: 56px;
            left: 15px;
          }
        } 
      }
      
      &-content {
        display: flex;
        flex-direction: column;

        &-title {
          font-family: $tertiaryFont;
          font-size: 20px;
          color: $primary-color;
          letter-spacing: 1px;
          line-height: 1.4;
        }

        &-text {
          @include paragraph;
          margin-top: 20px;
        }
      }
      
      &-footer {
        margin-top: 32px;

        &-block {
          font-family: $tertiaryFont;
          font-size: 14px;
          width: 127px;
          height: 30px;
          background-repeat: no-repeat;
          background-image: url("../img/arrow-right.svg");
          padding-right: 46px;
          background-position: right center;
          cursor: pointer;
          color: $button-color;
          letter-spacing: 0.8px;   
        }
      }
  }

  .extra-margin {
    margin-right: 16px;
    margin-top: -36px;
  }
}
 
@media (max-width: 1000px) {
  .main {
    &__container {
      padding: 20px 10px;  
    }
    
    &__title {
      width: 336px;
      position: unset;
      margin-bottom: 32px;  
    }

    &__content {
      height: unset;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__article {
      width: 338px;
      margin-bottom: 50px;
    }

    .extra-margin {
      margin-right: unset;
      margin-top: unset;
    }
  }
}