// Button
@mixin button {
  width: 220px;
  height: 56px;
  font-family: $secondaryFont;
  font-size: $primaryFontSize;
  font-weight: normal;
  border-radius: 10px;
  letter-spacing: 0.5px;
  background-color: $buttonСolor;
  color: #fff;
  margin-top: 80px;
  cursor: pointer;
  box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
  display: flex; 
  justify-content: center; 
  align-items: center;

  &:hover {
    background-color: $buttonHoverColor;
  }
}

@mixin paragraph {
  font-family: $secondaryFont;
  font-size: $primaryFontSize;
  color: $mainColorTitles;
  line-height: 1.6;
  letter-spacing: 0.8px;
  opacity: 0.6;
}

@mixin formPropery {
  -webkit-appearance: none;
  box-sizing: border-box;
  font-family: Gilroy-Light, sans-serif;
  font-size: $primaryFontSize;
  color: rgba($mainColorTitles, 0.2);
  border-color: rgba(53, 110, 173, 0.4);
  border-width: 1px;
  height: 72px;
  margin-bottom: 36px;
  border-radius: 10px;
}